<!DOCTYPE html>
<html>
<head>
	<title>Sóror</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width", initial-scale="1.0">
	<base href="/">
	<link rel="stylesheet" type="text/css" href="css/estilo.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
	<link rel="shotcut icon" href="img/logozinha.png">
	<link rel="stylesheet" type="text/css" href="css/modal.css">
	<link rel="stylesheet" type="text/css" href="css/carrossel.css">
</head>
<body onload="verificar()">
	<header id="header">
		<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
			<div class="container">
					<a href="#home">
						<img src="img/logo.png" class="logo">
					</a>
				<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent">
					<div class="linha"></div>
					<div class="linha"></div>
					<div class="linha"></div>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li><a href="#home" class="nav-link"><strong>Home</strong></a></li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><strong>Serviços</strong></a>
					    <ul class="dropdown-menu">
				        <li><a class="dropdown-item" href="#buscar"><strong>Buscar</strong></a></li>
						    <hr></hr>
						    <li><a class="dropdown-item" href="#login"><strong>Login</strong></a></li>
				      </ul>
				    </li>		
						<li><a href="#aprender" class="nav-link"><strong>Aprender</strong></a></li>
						<li><a href="#relatar" class="nav-link"><strong>Relatar</strong></a></li>
						<!-- <li class="perfilimg" id="perfilimg"><a href="perfil"><img src="img/perfil2.png"></a></li> -->
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<main>
		<section class="home" id="home">
			<div class="container conteudohome">
				<img src="img/logo.png" class="logoinicio">
				<p>A palavra sóror significa <span class="italico">irmãs</span> em latim. Ela deu origem ao termo <span class="italico">sororidade</span>, ou seja, irmandade.</p>
				<h1>O que você deseja?</h1>
				<div class="botoes">
					<button class="btnroxo" onclick="aprender()">Aprender</button>
					<button class="btnroxo" onclick="relatar()">Relatar</button>
					<div class="relativa">
						<button class="btnroxo" id="servico" onclick="abrirServico();">Serviços</button>
						<ul class="lista" id="listaOculta">
			        <li><a href="#buscar">Buscar</a></li>
			        <hr>
					    <li><a href="#login">Login</a></li>
			      </ul>
					</div>
				</div>
			</div>
		</section>

		<section class="aprender" id="aprender">
			<div class="container">
				<div class="titulo">
					<h2>Aprender</h2>
					<form>
						<input type="search" placeholder="Buscar">
						<button class="btnsearch">
							<img src="img/search.png" class="">
						</button>
					</form>
				</div>
				
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		      <ol class="carousel-indicators">
		        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>        
		      </ol>
		      <div class="carousel-inner">
		        <div class="carousel-item active">
		          <div class="d-flex">
		            <div class="caixa" alt="...">
		            	<h1>Radical</h1>
									<p class="caixatexto">O feminismo radical acredita que deve haver uma mudança radical política e economica, acabando totalmente com a supremacia masculina e promovendo a igualdade total entre os gêneros.</p>
	                <span class="modalbutton" >Ver mais</span>
	                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <p class="modal-content" id="texto">Ao contrário do que muitos pensam, a etimologia do termo “radical” vem do latim radicalis, que significa “relativo à raiz”. Feministas radicais buscam dar o máximo de visibilidade e “espaço de fala” possível para a mulher, ou seja, uma conscientização de mulher para mulher, exercendo a sororidade, sobre seus direitos e toda a desigualdade sofrida.</p>
	                </div> 
		            </div>
		            <div class="caixa some" alt="...">
		            	<h1>Sororidade</h1>
									<p>“Nós criamos meninas para enxergarem umas às outras como competidoras, não por trabalhos ou realizações, o que acredito ser uma boa coisa, mas pela atenção de homens.” (Chimamanda)</p>
	                <span class="modalbutton" id="myButton">Ver mais</span>
	                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <p class="modal-content" id="texto">Derivado da palavra do latim "sóror" (irmã), sororidade quer dizer irmandade, ou seja, a criação de uma aliança de empatia e ajuda entre mulheres. A sororidade independe de qualquer fator social ou diferença de cultura. Esse termo é muito relacionado ao feminismo. Prega que as mulheres não podem ver umas às outras como adversárias mas sim como irmãs, sem fazer pré julgamentos sobre elas. “Nós criamos meninas para enxergarem umas às outras como competidoras, não por trabalhos ou realizações, o que eu acredito ser uma boa coisa, mas pela atenção de homens.” – Chimamanda Ngozi Adichie</p>
	                </div>
		            </div>
		            <div class="caixa some" alt="...">
		            	<h1>Liberal</h1>
									<p>As primeiras feministas eram liberais. Ao contrário do que todos pensam, o termo “liberal” se origina de “liberalismo”, que significa, em suma, liberdade política e econômica.</p>
	                <span class="modalbutton" id="myButton">Ver mais</span>
	                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <p class="modal-content" id="texto">O feminismo liberal é uma das primeiras vertentes que surgiram no feminismo, e diferente do que muitos pensam, a palavra “liberal” vem de “liberalismo” e não no sentido de "liberar", o que significa, em suma, liberdade política e econômica. Essa vertente acredita que a mulher é plenamente capaz de fazer suas próprias escolhas e tem capacidade para exercer qualquer coisa igualmente aos homens, portanto buscam equidade com o gênero masculino através de suas ações. As primeiras mulheres que se disseram “feministas” eram liberais, e as primeiras a terem mais visibilidade na mídia foram Mary Wollstonecraft, uma escritora inglesa, e Olympe de Gouges, uma dramaturga francesa. Ambas viveram durante o século XVIII. Outra grande referência da primeira onda de feministas liberais foi Harriet Tubman, uma mulher americana, negra e abolicionista. Além de acreditarem na equidade entre os gêneros, elas também procuram obter efetividade dessa luta através de mudanças sociais e políticas sempre que houver alguma disparidade entre os gêneros.</p>
	                </div>
		            </div>
		            <div class="caixa some" alt="...">
		            	<h1>Interseccional</h1>
									<p>Defende que as mulheres estão expostas a diferentes graus de opressão, variando de acordo com sua raça, gênero, classe social, capacidades físicas e mentais e etnias.</p>
	                <span class="modalbutton" id="myButton">Ver mais</span>
	                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <p class="modal-content" id="texto">O feminismo interseccional engloba as mulheres que não estão incluídas nos padrões da sociedade, ou seja, não são brancas, magras e de classe média. Essa vertente acredita que as mulheres estão expostas a diferentes graus de opressão, variando de acordo com sua raça, gênero, classe, capacidades físicas e mentais e etnias. Quem “nomeou”o feminismo interseccional foi a professora norte-americana de Direito na Universidade de Columbia Kimberlé Crenshaw em 1989. O objetivo desse grupo de mulheres é alcançar a equidade não apenas para aquelas já favorecidas naturalmente, mas para todas. Acredita-se que a interseccionalidade é uma ferramenta fundamental para a emancipação feminina.</p>
	                </div>
		            </div>
		          </div>
		        </div>
		        <div class="carousel-item">
		          <div class="d-flex">
		            <div class="caixa" alt="...">
		            	<h1>Marxista</h1>
									<p id=" marxista">Isso é um exemplo. Nessa paginá ficará um carrossel com informações resumidas a respeito do feminismo, como suas vententes e curiosidades, em textos simples e claros.</p>
	                <span class="modalbutton" id="myButton">Ver mais</span>
	                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <p class="modal-content" id="texto"> </p>
	                </div>
		            </div>
		            <div class="caixa some" alt="...">
		            	<h1>Negro</h1>
									<p>Isso é um exemplo. Nessa paginá ficará um carrossel com informações resumidas a respeito do feminismo, como suas vententes e curiosidades, em textos simples e claros.</p>
	                <span class="modalbutton" id="myButton">Ver mais</span>
	                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <p class="modal-content" id="texto"> </p>
	                </div>
		            </div>
		            <div class="caixa some" alt="...">
		            	<h1>Indígena</h1>
									<p>Isso é um exemplo. Nessa paginá ficará um carrossel com informações resumidas a respeito do feminismo, como suas vententes e curiosidades, em textos simples e claros.</p>
	                <span class="modalbutton" id="myButton">Ver mais</span>
	                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <p class="modal-content" id="texto"> </p>
	                </div>
		            </div>
		            <div class="caixa some" alt="...">
		            	<h1>LGBT+</h1>
									<p>Isso é um exemplo. Nessa paginá ficará um carrossel com informações resumidas a respeito do feminismo, como suas vententes e curiosidades, em textos simples e claros.</p>
	                <span class="modalbutton" id="myButton">Ver mais</span>
	                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <p class="modal-content" id="texto"> </p>
	                </div>
		            </div>
		          </div>
		        </div>
		        <div class="carousel-item">
		          <div class="d-flex">
		            <div class="caixa" alt="...">
		            	<h1>Transgênero</h1>
									<p>Isso é um exemplo. Nessa paginá ficará um carrossel com informações resumidas a respeito do feminismo, como suas vententes e curiosidades, em textos simples e claros.</p>
	                <span class="modalbutton" id="myButton">Ver mais</span>
	                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <p class="modal-content" id="texto"> </p>
	                </div>
		            </div>
		            <div class="caixa some" alt="...">
		              <h1>Emancipação</h1>
									<p>Isso é um exemplo. Nessa paginá ficará um carrossel com informações resumidas a respeito do feminismo, como suas vententes e curiosidades, em textos simples e claros.</p>
	                <span class="modalbutton" id="myButton">Ver mais</span>
	                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <p class="modal-content" id="texto"> </p>
	                </div>
		            </div>
		            <div class="caixa some" alt="...">
		            	<h1>Local de fala</h1>
									<p>Isso é um exemplo. Nessa paginá ficará um carrossel com informações resumidas a respeito do feminismo, como suas vententes e curiosidades, em textos simples e claros.</p>
	                <span class="modalbutton" id="myButton">Ver mais</span>
	                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <p class="modal-content" id="texto"> </p>
	                </div>
		            </div>
		            <div class="caixa some" alt="...">
		            	<h1>Patriarcado</h1>
									<p>Isso é um exemplo. Nessa paginá ficará um carrossel com informações resumidas a respeito do feminismo, como suas vententes e curiosidades, em textos simples e claros.</p>
	                <span class="modalbutton" id="myButton">Ver mais</span>
	                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <p class="modal-content" id="texto"> </p>
	                </div>
		            </div>
		          </div>
		        </div>
		        <div class="carousel-item">
		          <div class="d-flex">
		            <div class="caixa" alt="...">
		            	<h1>Grupos UFGD</h1>
									<p>Isso é um exemplo. Nessa paginá ficará um carrossel com informações resumidas a respeito do feminismo, como suas vententes e curiosidades, em textos simples e claros.</p>
	                <span class="modalbutton" id="myButton">Ver mais</span>
	                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <p class="modal-content" id="texto"> </p>
	                </div>
		            </div>
		            <div class="caixa some" alt="...">
		            	<h1>Femismo</h1>
									<p>Isso é um exemplo. Nessa paginá ficará um carrossel com informações resumidas a respeito do feminismo, como suas vententes e curiosidades, em textos simples e claros.</p>
	                <span class="modalbutton" id="myButton">Ver mais</span>
	                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <p class="modal-content" id="texto"> </p>
	                </div>
		            </div>
		            <div class="caixa some" alt="...">
		            	<h1>Machismo</h1>
									<p>Isso é um exemplo. Nessa paginá ficará um carrossel com informações resumidas a respeito do feminismo, como suas vententes e curiosidades, em textos simples e claros.</p>
	                <span class="modalbutton" id="myButton">Ver mais</span>
	                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <p class="modal-content" id="texto"> </p>
	                </div>
		            </div>
		            <div class="caixa some" alt="...">
		            	<h1>Rede de Proteção</h1>
									<p>Isso é um exemplo. Nessa paginá ficará um carrossel com informações resumidas a respeito do feminismo..</p>
	                <span class="modalbutton" id="myButton">Ver mais</span>
	                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <p class="modal-content" id="texto"> </p>
	                </div>
		            </div>
		          </div>
		        </div>
		      </div>
		      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		        <span class="sr-only">Previous</span>
		      </a>
		      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		        <span class="carousel-control-next-icon" aria-hidden="true"></span>
		        <span class="sr-only">Next</span>
		      </a>
		    </div>
  				
			</div>	
		</section>

		<section class="relatar" id="relatar"> <!-- ajuda: postagem dos relatos  -->
			<div class="container">
				<div class="titulo titulorelato">
					<h2>Relatos</h2>
					<form>
						<input type="search" placeholder="Buscar relato">
						<button class="btnsearch">
							<img src="img/search.png" class="">
						</button>
					</form>
				</div>
				<div class="relatos">
					<form class="relatoform" action="/soror/salvarrelato" method="POST">
						<h3>Enviar um relato</h3>
						<form class="formajuste">
							<p><input type="text" id="nomerelato" placeholder="Nome (opcional)" required></p>
							<p><input type="email" id="emailrelato" placeholder="Email" required></p>
							<p><input type="text" id="assuntorelato" placeholder="Assunto" required></p>
							<p><textarea class="desc" type="password" id="relatorelato" name="relatorelato" placeholder="Relato" required></textarea></p>
							<button class="btnroxo">Enviar relato</button>
						</form>
					</form>
					<div class="relato">
						<h3>Título</h3>
						<p>Essa caixinha ta aqui como exemplo; cada caixinha dessa será um relato. O processo para adicionar um relato aqui deverá ser: enviar um relato ao email do adm através do formulário, o adm fará uma análise e decidirá se vai postar ou não. Não sei como vou fazer isso (alo Jónison?).</p>
					</div>
					<div class="relato">
						<h3>Título</h3>
						<p>Essa caixinha ta aqui como exemplo; cada caixinha dessa será um relato. O processo para adicionar um relato aqui deverá ser: enviar um relato ao email do adm através do formulário, o adm fará uma análise e decidirá se vai postar ou não. Não sei como vou fazer isso (alo Jónison?).</p>
					</div>
					<div class="relato">
						<h3>Título</h3>
						<p>Essa caixinha ta aqui como exemplo; cada caixinha dessa será um relato. O processo para adicionar um relato aqui deverá ser: enviar um relato ao email do adm através do formulário, o adm fará uma análise e decidirá se vai postar ou não. Não sei como vou fazer isso (alo Jónison?).</p>
					</div>
					<div class="relato">
						<h3>Título</h3>
						<p>Essa caixinha ta aqui como exemplo; cada caixinha dessa será um relato. O processo para adicionar um relato aqui deverá ser: enviar um relato ao email do adm através do formulário, o adm fará uma análise e decidirá se vai postar ou não. Não sei como vou fazer isso (alo Jónison?).</p>
					</div>
					<div class="relato">
						<h3>Título</h3>
						<p>Essa caixinha ta aqui como exemplo; cada caixinha dessa será um relato. O processo para adicionar um relato aqui deverá ser: enviar um relato ao email do adm através do formulário, o adm fará uma análise e decidirá se vai postar ou não. Não sei como vou fazer isso (alo Jónison?).</p>
					</div>
				</div>
			</div>
		</section>

		<section class="buscar container" id="buscar">
			<div class="titulo">
				<h2>Buscar Serviço</h2>
				<form>
					<input type="search" placeholder="Buscar">
					<button class="btnsearch">
						<img src="img/search.png" class="">
					</button>
				</form>
			</div>
			<div class="busca container"><!-- ajuda: funcionamento da busca-->
				<div class="itembusca">
					<div class="infoinicial">	
						<button class="btnabrir" id="btnabrir" onclick="btnAbrir();">+</button>
						<h4>Específico (nome do serviço)</h4>
					</div>
					<ul class="dropdowninfo" id="dropdowninfo">
						<li>Categoria</li><hr>
						<li>Descrição</li><hr>
						<li>Contato</li>
		      </ul>
				</div>
			</div>
		</section>

		<section class="cad " id="cad">
			<div class="container">
				<div class="titulo">
					<h2 class="cadtitulo">Cadastro</h2>
				</div>
				<div class="cad_servicos">

					<form class="pessoal" action="/soror/salvar" method="POST" name="form1">
						<h3>Dados Pessoais</h3>
						<div>
							<p><input type="text" id="nome" placeholder="Nome" name="nome" required></p>
							<p id="msg_nome"></p>
							<p><input type="email" id="email" placeholder="Email" name="email" required></p>
							<p id="msg_email"></p>
							<p><input type="password" id="senha" placeholder="Senha" name="senha" required></p>			
							<p id="msg_senha"></p>		
							<p><input type="password" id="confirmar_senha" placeholder="Confirmar senha" name="confirmar_senha" required></p>
							<p id="msg_confirmarSenha"></p>
							<p><input type="cpf" id="cpf" placeholder="CPF" name="cpf" required onKeyPress="MascaraCPF(cpf);" maxlength="14" onBlur="ValidarCPF(form1.cpf);" ></p>
							<p id="msg_cpf"></p>
						</div>
						<div class="btnpessoal">
							<button class="btnroxo" type="submit">Salvar</button>
							<button onclick = "trocaTrindade()" type="button" class="btntransparente">Já possui conta?</button>
						</div>
					</form>
					<form class="servico"  action="/soror/salvarservico" method="POST" name="form2">
						<h3>Serviço</h3>
						<div>
							<p><input type="text" id="categoria" name="categoria" placeholder="Categoria" required></p>
							<p><input type="text" id="especifico" name="especifico" placeholder="Especifico" required></p>
							<p><textarea id="descricao" class="desc" name="descricao" placeholder="Descrição" required></textarea></p>
							<p><input type="text" id="contato" name="contato" placeholder="Contato" required onKeyPress="MascaraTelefone(tel);" maxlength="14" onBlur="ValidaTelefone(form2.tel);" ></p>
						</div>
						<div class="btnservico">
							<button class="btnadd" onclick="addform()">
								<img class="" src="img/add.png">
							</button>
							<button class="btnroxo">Salvar</button>
						</div> 
					</form>
				</div>
			</div>
		</section>

		<section class="login" id="login">
			<div class="container">
				<div class="titulo">
					<h2 class="logintitulo">Login</h2>
				</div>
			</div>
			<div class="loginconteudo" id="teste">
				<div class="log">
				<form action="/usuario/login" method="post">
					<p><input type="email" id="emaillog" name="emaillog" placeholder="Email" required></p>
					<p><input type="password" id="senhalog" name="senhalog" placeholder="Senha" required></p>
					<div class="btnlogin">
						<button type="submit" class="btnroxo" id="btnEntrarPerfil" >Entrar</button>
						<button onclick="trocaTrindade()" class="btntransparente">Não possui conta?</button>
					</div>
				</form>
				</div>
			</div>
		</section>

		<!-- <section class="perfil" id="perfil"> essa section vai aparecer quando o usuario realizar o login, vai substituir a section login
			<div class="container">
				<div class="titulo">
					<h2 class="perfiltitulo">Perfil</h2>
					<p class="perfiltitulo">Esta página é visível apenas para você. Suas informações estão seguras.</p>
				</div>
				<div class="perfilconteudo">
					<div class="perfilpessoal">
						<img src="img/perfil3.png">
						<h3>Nome</h3>
						<p>Email</p>
						<p>Senha</p>
						<p>CPF</p>
						<button class="btnroxo">Editar</button>
					</div>
					<div class="perfilservicos">
						<img src="img/servico2.png">
						<h3>Específico</h3>
						<p>Categoria</p>
						<p>Descrição</p>
						<p>Contato</p>
						<button class="btnroxo">Editar</button>
					</div>	
				</div> 	
			</div>
		</section> -->
	</main>

	<footer>
		<div class="primeiro-footer">
			<div class="logofooter">
				<img src="img/logozinha.png">
				<a target="_blank" href="/sobrenos">Sobre nós</a>
			</div>
			<div class="info">
				<div class="infozinha">
					<h3>Madu</h3>
					<p>Estudante do Instituto Federal de Educaçáo, Ciência e Tecnologia de Mato Grosso do Sul, <span class="italico">campus</span> Dourados, no sexto semestre do curso técnico integrado de Informática para Internet.</p>
					<div class="redessociais">
						<a target="_blank" href="mailto:marieduarda.s.carbonari@gmail.com?subject=Sóror">
							<img src="img/email.png">
						</a>
						<a target="_blank" href="https://api.whatsapp.com/send?phone=5567998609500&text=S%C3%B3ror.">
							<img src="img/wpp.png">
						</a>
						<a target="_blank" href="https://www.instagram.com/dudacarbonari/?hl=pt-br">
							<img src="img/insta.png">
						</a>
					</div>
				</div>
				<div class="infozinha">
					<h3>Júlia</h3>
					<p>Estudante do Instituto Federal de Educação, Ciência e Tecnologia de Mato Grosso do Sul, <span class="italico">campus</span> Dourados, no sexto semestre do curso técnico integrado de Informática para Internet.</p>
					<div class="redessociais">
						<a target="_blank" href="mailto:juliagiord@hotmail.com?subject=Sóror">
							<img src="img/email.png">
						</a>
						<a target="_blank" href="https://api.whatsapp.com/send?phone=5567999917980&text=S%C3%B3ror.">
							<img src="img/wpp.png">
						</a>
						<a target="_blank" href="https://www.instagram.com/juliagiord/?hl=pt-br">
							<img src="img/insta.png">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="segundo-footer">
			<p href="#">Madu e Júlia &copy; 2019</p>
		</div>
	</footer>
	<script type="text/javascript" src="js/validador.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="js/link.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src="js/addform.js"></script>
	<script src="js/header.js"></script>
	<script src="js/addTransition.js"></script>
	<script src="js/dropdown.js"></script>
	<script src="js/trindade.js"></script>
	<script src="js/modal.js"></script>
</body>
</html>