<!-- <!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<section class="perfil" id="perfil"> 
				<div class="titulo">
					<h2 class="perfiltitulo">Perfil</h2>
					<p class="perfiltitulo">Esta página é visível apenas para você. Suas informações estão seguras.</p>
				</div>
				<div class="perfilconteudo">
					<div class="perfilpessoal">
						<img src="img/perfil3.png">
						<h3>Nome</h3>
						<p>Email</p>
						<p>Senha</p>
						<p>CPF</p>
						<button class="btnroxo">Editar</button>
					</div>
					<div class="perfilservicos">
						<img src="img/servico2.png">
						<h3>Específico</h3>
						<p>Categoria</p>
						<p>Descrição</p>
						<p>Contato</p>
						<button class="btnroxo">Editar</button>
					</div>	
				</div> 	
			</div>
		</section>
</body>
</html> -->