<!DOCTYPE html>
<html>
<head> 
	<title>Sóror - Sobre nós</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width", initial-scale="1.0">
	<base href="/">
	<link rel="stylesheet" type="text/css" href="css/estilo.css">
	<link rel="stylesheet" type="text/css" href="css/sobrenos.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
	<link rel="shotcut icon" href="img/logozinha.png">
</head>
<body>
	<header id="header">
		<nav class="navbar navbar-light bg-white fixed-top">
			<div class="container retornar">
					<a href="#home">
						retornar à
						<img src="img/logo.png" class="logo">
					</a>
			</div>
		</nav>
	</header>

	<main>
		<section class="container sobrecontent">
			<div class="comeco">
				<h2>Como tudo começou</h2>
				<p>A ideia surgiu diante de uma proposta de trabalho que nos foi apresentada no terceiro semestre do curso técnico integrado de Informática para Internet, em 2018: a construção de um sistema a respeito de uma causa social. Logo pensamos em feminismo, algo muito presente em nossas vidas. A princípio, seria uma espécie de rede social onde mulheres vítimas de violência compartilhariam suas experiências. Um local seguro, podendo inclusive utilizar o anonimato. No quarto semestre, uma proposta semelhante foi sugerida, e seria dada continuidade ao projeto mas com alterações, uma vez que percebemos a dificuldade que teríamos para realizar um projeto tão grande, tão cedo no curso. Pensamos então em algo mais simples, mas ainda importante, que é espalhar informação. O movimento sempre foi envolto em estereótipos e preconceitos, e queríamos desconstruir isso, mostrando os diversos modos de pensar dentro do feminismo, suas vertentes, sua pluralidade, em um site informativo. Em 2019, nosso ano de conclusão do curso e do ensino médio, decidimos então levar o site adiante em forma de TCC, convidando a professora doutora Elizete de Souza Bernardes como orientadora, e Jónison Almeida dos Santos como coorientador.</p>
			</div>
			<div class="coletivo">
				<h2>coletivo de empoderamento feminino de dourados</h2>
				<p>Acompanhadas de nossa orientadora, fomos em uma das reuniões do coletivo. Na ocasião, queríamos apresentar nossa ideia, que até então era juntar a parte informativa com a parte de denúncias e relatos, em busca de apoio e sugestões de melhorias. E foi ai que surgiu a terceira funcionalidade do sistema: elas relataram a dificuldade em ser uma mulher que mora sozinha quando precisam contratar serviços de mão de obra doméstica, como manutenção elétrica e troca de encanamento, uma vez que quem realiza esses serviços geralmente é homem e acaba sendo muito perigoso. Elas relataram também que conhecem mulheres que fazem esse tipo de serviço e não são contratadas, então pensamos em criar uma ponte entre esses dois lados, onde as mulheres que sabem realizar os serviços pode se cadastrar, e as que precisam podem contratá-las.</p>
			</div>
	</section>
	</main>

	<footer>
		<div class="primeiro-footer">
			<div class="logofooter">
				<img src="img/logozinha.png">
				<a target="_blank" href="sobrenos.html">Sobre nós</a>
			</div>
			<div class="info">
				<div class="infozinha">
					<h3>Madu</h3>
					<p>Estudante do Instituto Federal de Educaçáo, Ciência e Tecnologia de Mato Grosso do Sul, <span class="italico">campus</span> Dourados, no sexto semestre do curso técnico integrado de Informática para Internet.</p>
					<div class="redessociais">
						<a target="_blank" href="mailto:marieduarda.s.carbonari@gmail.com?subject=Entrando%20em%20contato%20através%20da%20página%20Sóror.">
							<img src="img/email.png">
						</a>
						<a target="_blank" href="https://api.whatsapp.com/send?phone=5567998609500&text=Ol%C3%A1!%20Estou%20entrando%20em%20contato%20atrav%C3%A9s%20da%20p%C3%A1gina%20S%C3%B3ror.">
							<img src="img/wpp.png">
						</a>
						<a target="_blank" href="https://www.instagram.com/dudacarbonari/?hl=pt-br">
							<img src="img/insta.png">
						</a>
					</div>
				</div>
				<div class="infozinha">
					<h3>Júlia</h3>
					<p>Estudante do Instituto Federal de Educaçáo, Ciência e Tecnologia de Mato Grosso do Sul, <span class="italico">campus</span> Dourados, no sexto semestre do curso técnico integrado de Informática para Internet.</p>
					<div class="redessociais">
						<a target="_blank" href="mailto:juliagiord@hotmail.com?subject=Entrando%20em%20contato%20através%20da%20página%20Sóror.">
							<img src="img/email.png">
						</a>
						<a target="_blank" href="https://api.whatsapp.com/send?phone=5567999917980&text=Ol%C3%A1!%20Estou%20entrando%20em%20contato%20atrav%C3%A9s%20da%20p%C3%A1gina%20S%C3%B3ror.">
							<img src="img/wpp.png">
						</a>
						<a target="_blank" href="https://www.instagram.com/juliagiord/?hl=pt-br">
							<img src="img/insta.png">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="segundo-footer">
			<p href="#">Madu e Júlia &copy; 2019</p>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>