<!DOCTYPE html>
<html>
<head> 
	<title>Sóror - Sobre nós</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width", initial-scale="1.0">
	<base href="/">
	<link rel="stylesheet" type="text/css" href="css/estilo.css">
	<link rel="stylesheet" type="text/css" href="css/sobrenos.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
	<link rel="shotcut icon" href="img/logozinha.png">
</head>
<body>
	<header id="header">
		<nav class="navbar navbar-light bg-white fixed-top">
			<div class="container retornar">
					<a href="#home">
						retornar à
						<img src="img/logo.png" class="logo">
					</a>
			</div>
		</nav>
	</header>

	<main>
		<section class="container sobrecontent">
			<div class="comeco">
				<h2>Como tudo começou</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="coletivo">
				<h2>coletivo de mulheres</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
	</section>
	</main>

	<footer>
		<div class="primeiro-footer">
			<div class="logofooter">
				<img src="img/logozinha.png">
				<a target="_blank" href="sobrenos.html">Sobre nós</a>
			</div>
			<div class="info">
				<div class="infozinha">
					<h3>Madu</h3>
					<p>Estudante do Instituto Federal de Educaçáo, Ciência e Tecnologia de Mato Grosso do Sul, <span class="italico">campus</span> Dourados, no sexto semestre do curso técnico integrado de Informática para Internet.</p>
					<div class="redessociais">
						<a target="_blank" href="mailto:marieduarda.s.carbonari@gmail.com?subject=Entrando%20em%20contato%20através%20da%20página%20Sóror.">
							<img src="img/email.png">
						</a>
						<a target="_blank" href="https://api.whatsapp.com/send?phone=5567998609500&text=Ol%C3%A1!%20Estou%20entrando%20em%20contato%20atrav%C3%A9s%20da%20p%C3%A1gina%20S%C3%B3ror.">
							<img src="img/wpp.png">
						</a>
						<a target="_blank" href="https://www.instagram.com/dudacarbonari/?hl=pt-br">
							<img src="img/insta.png">
						</a>
					</div>
				</div>
				<div class="infozinha">
					<h3>Júlia</h3>
					<p>Estudante do Instituto Federal de Educaçáo, Ciência e Tecnologia de Mato Grosso do Sul, <span class="italico">campus</span> Dourados, no sexto semestre do curso técnico integrado de Informática para Internet.</p>
					<div class="redessociais">
						<a target="_blank" href="mailto:juliagiord@hotmail.com?subject=Entrando%20em%20contato%20através%20da%20página%20Sóror.">
							<img src="img/email.png">
						</a>
						<a target="_blank" href="https://api.whatsapp.com/send?phone=5567999917980&text=Ol%C3%A1!%20Estou%20entrando%20em%20contato%20atrav%C3%A9s%20da%20p%C3%A1gina%20S%C3%B3ror.">
							<img src="img/wpp.png">
						</a>
						<a target="_blank" href="https://www.instagram.com/juliagiord/?hl=pt-br">
							<img src="img/insta.png">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="segundo-footer">
			<p href="#">Madu e Júlia &copy; 2019</p>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>