<!DOCTYPE html>
<html>
<head>
	<title>Sóror - Sobre nós</title>
	<meta name="viewport" content="width=device-width", initial-scale="1.0">
	<link rel="stylesheet" type="text/css" href="css/estilo.css">
	<link rel="stylesheet" type="text/css" href="css/sobrenos.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
	<link rel="shotcut icon" href="img/logozinha.png">
</head>
<body>
	<header id="header">
		<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
			<div class="container">
					<a href="#home">
						<img src="img/logo.png" class="logo">
					</a>
				<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent">
					<div class="linha"></div>
					<div class="linha"></div>
					<div class="linha"></div>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li><a href="index.html#home" class="nav-link"><strong>Home</strong></a></li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><strong>Serviços</strong></a>
					    <ul class="dropdown-menu">
				        <li><a class="dropdown-item" href="index.html#buscar"><strong>Buscar</strong></a></li>
						    <hr></hr>
						    <li><a class="dropdown-item" href="index.html#cad"><strong>Cadastrar</strong></a></li>
				      </ul>
				    </li>
						<li><a href="index.html#aprender" class="nav-link"><strong>Aprender</strong></a></li>
						<li><a href="index.html#relatar" class="nav-link"><strong>Relatar</strong></a></li>
						<li class="perfilimg" id="perfilimg"><a href="index.html#perfil"><img src="img/perfil2.png"></a></li>

					</ul>
				</div>
			</div>
		</nav>
	</header>

	<main>
		
	</main>

	<footer>
		<div class="primeiro-footer">
			<div class="logofooter">
				<img src="img/logozinha.png">
				<a target="_blank" href="sobrenos.html">Sobre nós</a>
			</div>
			<div class="info">
				<div class="infozinha">
					<h3>Madu</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
					<div class="redessociais">
						<a target="_blank" href="mailto:marieduarda.s.carbonari@gmail.com?subject=Entrando%20em%20contato%20através%20da%20página%20Sóror.">
							<img src="img/email.png">
						</a>
						<a target="_blank" href="https://api.whatsapp.com/send?phone=5567998609500&text=Ol%C3%A1!%20Estou%20entrando%20em%20contato%20atrav%C3%A9s%20da%20p%C3%A1gina%20S%C3%B3ror.">
							<img src="img/wpp.png">
						</a>
						<a target="_blank" href="https://www.instagram.com/dudacarbonari/?hl=pt-br">
							<img src="img/insta.png">
						</a>
					</div>
				</div>
				<div class="infozinha">
					<h3>Júlia</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
					<div class="redessociais">
						<a target="_blank" href="mailto:juliagiord@hotmail.com?subject=Entrando%20em%20contato%20através%20da%20página%20Sóror.">
							<img src="img/email.png">
						</a>
						<a target="_blank" href="https://api.whatsapp.com/send?phone=5567999917980&text=Ol%C3%A1!%20Estou%20entrando%20em%20contato%20atrav%C3%A9s%20da%20p%C3%A1gina%20S%C3%B3ror.">
							<img src="img/wpp.png">
						</a>
						<a target="_blank" href="https://www.instagram.com/juliagiord/?hl=pt-br">
							<img src="img/insta.png">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="segundo-footer">
			<p href="#">Madu e Júlia &copy; 2019</p>
		</div>
	</footer>
</body>
</html>